:root {
  --background: #f7f3e3;
  --main-text: #af9164;
  --title-text: #433218;
  --copyright-text: #8b5e1b;
  --font-family: "font";
  transition: all 0.2s;
}

@font-face {
  font-family: "font";
  src:
    local("tilt_neon"),
    url("../public/tilt_neon/static/TiltNeon-Regular.ttf") format("truetype");
}
