:root {
  --background: #fdebd3;
  --main-text: #679186;
  --title-text: #264e70;
  --copyright-text: #264e70;
  --font-family: "font";
  transition: all 0.2s;
}

@font-face {
  font-family: "font";
  src:
    local("tilt_neon"),
    url("../public/tilt_neon/static/TiltNeon-Regular.ttf") format("truetype");
}
